<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>HomePages: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
  </head>

  <body>
    <div id="header">
      <div id="logo">
	<h1><a href="#">ComplexIT</a></h1>
      </div>
      <!-- end #logo -->
      <div id="menu">
	<ul>
	  <li class="active"><a href="/home_pages">Home</a></li>
	  <li><a href="/about_us">About Us</a></li>
	  <!-- <li><a href="#">Products</a></li>q -->
	  <li><a href="/services_pages">Services</a></li> 
	  <li><a href="/contact_pages">Contact Us</a></li>
	  <li><a href="/credits">Credits</a></li>
	</ul>
      </div>
      <!-- end #menu -->
    </div>
    <!-- end #header -->
    <div id="page">
      <div id="content">

	<!-- This is to include the ruby on rails real stuff -->
	<p style="color: green"><%= flash[:notice] %></p>
	<%= yield %>

      </div>
      <!-- end #content -->
      <div id="sidebar">
	<div id="sidebar-bgtop"></div>
	<div id="sidebar-content">
	  <ul>
	    <li id="search">
	      <h2>Search</h2>
	      <form method="get" action="">
		<fieldset>
		  <input type="text" id="s" name="s" value="" />
		  <input type="submit" id="x" value="Search" />
		</fieldset>
	      </form>
	    </li>
	    <li>
	      <%= yield :menu_data %>
	    </li>
	    <li>
	      <%= yield :menu_data_too %>
	      
	    </li>
	  </ul>
	</div>
	<div id="sidebar-bgbtm"></div>
      </div>
      <!-- end #sidebar -->
    </div>
    <!-- end #page -->
    <div id="footer">

      <p>
	<li>  
	  <center>
	    Copyright (c) <%=Time.now.strftime("%Y") %>  ACMMCA. All rights reserved.  Developed by <a href="http://sites.google.com/site/charlesmagidrubyonrailsexprenc/"> Charles Magid. </a>  Developed with all open source tools
	  </center>
	</li>
      </p>

    </div>
    <!-- end #footer -->
  </body>
</html>

